<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OmsOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.OmsOrder">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="order_no" property="orderNo" />
        <result column="total_money" property="totalMoney" />
        <result column="pay_money" property="payMoney" />
        <result column="total_num" property="totalNum" />
        <result column="pay_type" property="payType" />
        <result column="order_status" property="orderStatus" />
        <result column="pay_status" property="payStatus" />
        <result column="pay_time" property="payTime" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="receiver_address" property="receiverAddress" />
        <result column="expiration_time" property="expirationTime" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, order_no, total_money, pay_money, total_num, pay_type, order_status, pay_status, pay_time, receiver_name, receiver_phone, receiver_address, expiration_time, created_time, updated_time
    </sql>

</mapper>
