<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PmsCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.PmsComment">
        <id column="id" property="id" />
        <result column="spu_id" property="spuId" />
        <result column="user_id" property="userId" />
        <result column="star" property="star" />
        <result column="content" property="content" />
        <result column="is_pic" property="isPic" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spu_id, user_id, star, content, is_pic, created_time, updated_time
    </sql>

</mapper>
