<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PmsSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.PmsSku">
        <id column="id" property="id" />
        <result column="spu_id" property="spuId" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="unit" property="unit" />
        <result column="stock" property="stock" />
        <result column="sale" property="sale" />
        <result column="indexes" property="indexes" />
        <result column="product_sku_specification" property="productSkuSpecification" />
        <result column="is_default" property="isDefault" />
        <result column="valid" property="valid" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spu_id, title, price, unit, stock, sale, indexes, product_sku_specification, is_default, valid, created_time, updated_time
    </sql>

</mapper>
